@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
:root {
  --primary-blue-200: hsl(193, 53%, 51%);
  --primary-green-300: hsl(278, 80%, 44%);
  --neutral-blue-600: hsl(216, 50%, 40%);
  --neutral-blue-900: hsl(217, 19%, 24%);
  --neutral-blue-950: hsl(218, 23%, 16%);
  --font-family: "Manrope", sans-serif;
  --font-size-quote: 28px;
  --font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 1.5rem;
  background-color: var(--neutral-blue-950);
}

section.advice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background-color: var(--neutral-blue-900);
  border-radius: 1.5rem;
  position: relative;
  font-family: var(--font-family);
}

section.advice h1 {
  font-size: 16px;
  font-weight: var(--font-weight);
  color: var(--primary-green-300);
  text-align: center;
}

section.advice p {
  font-size: var(--font-size-quote);
  font-weight: var(--font-weight);
  color: var(--primary-blue-200);
  text-align: center;
  margin: 1.5em 0;
}

section.advice picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5em;
}

section.advice button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: var(--primary-green-300);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: -30px; /*  */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

section.advice button:hover {
  background-color: hsl(150, 100%, 76%);
  box-shadow: 0 0 40px hsl(150, 100%, 76%);
  transform: translateX(-50%) scale(1.05);
}
section.advice button:active {
  background-color: hsl(150, 100%, 76%);
  box-shadow: 0 0 40px hsl(150, 100%, 76%);
  transform: translateX(-50%) scale(0.95);
}
section.advice button:focus {
  outline: none;
}

h2{
  margin: 20px;
  color: white;
}

.sozİnput{
background-color: var(--neutral-blue-600);
color: white;
border: none;
outline: none;
border-radius: 15px;
width: 100%;
}

.sozİnput:focus{
  background-color: black;

}

section.container{
  background-color: var(--neutral-blue-900);
  padding: 3rem;
  border-radius: 1.5rem;
  margin: 1rem;
}

.c{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.container p{
  font-size: var(--font-size-quote);
  font-weight: var(--font-weight);
  color: var(--primary-blue-200);
  text-align: center;
  margin: 1.5em 0;
  width: 300px;
}

.container input{
width: 100%;
}

.users {
display: flex;
gap: 10px;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-top: 40px;
}

.user-container {
display: flex;
flex-direction: column;
width: 12rem;
border: 2px solid rgb(101, 115, 120);
border-radius: 10px;
}

img{
border-top-left-radius: 9px;
border-top-right-radius: 9px;
}

.user-info {
padding: 5px 10px;
text-align: center;
}

.btn{
height: 35px;
width: 125px;
background-color: rgb(67, 84, 71);
color: rgb(160, 253, 183);
border-radius: 15px;
cursor: pointer;
border: 3px solid rgb(37, 67, 47);
box-shadow: 0 3px 0px 1px black;
}

.btn:hover{
transition: .35s all;
border-color: rgb(208, 202, 166);
background-color: rgb(116, 83, 23);
color: rgb(255, 238, 0);
box-shadow: 0 0 0 0 rgb(9, 7, 7);
}

.input-container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 10px;
}

input{
padding: 10px 20px;
background-color: rgb(34, 63, 33);
color: white;
border: none;
outline: none;
border-radius: 15px;
width: 75%;
text-align: center;
}

input::placeholder{
color: gainsboro;
text-align: center;
}

.btn-container{
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
gap: 10px;
}

